* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background: #1e1e1e;
  color: #eaeaea;
}

button {
    cursor: pointer;
}

input {
  outline: none;
}
