.toolbar button {
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3a3a3a;
    border: none;
    border-radius: 0.5rem;
    color: #eaeaea;
    transition: all 0.2s ease-in-out, transform 0.1s ease-in-out;
    font-size: 1.2rem;
}

.toolbar button:hover {
    background-color: #4a4a4a;
    color: #fff;
    transform: scale(1.05);
}

.toolbar button:active {
    transform: scale(0.95);
}

.selected-elem {
    outline: 2px solid #0c8ce9;
}

.handle, .rotation-handle {
    height: 0.6rem;
    width: 0.6rem;
    background-color: white;
    border: 1px solid #0c8ce9;
    position: absolute;
    z-index: 200000;
}

.tl {
    top: -0.5rem;
    left: -0.5rem;
    cursor: nwse-resize;
}
.tr {
    top: -0.5rem;
    right: -0.5rem;
    cursor: nesw-resize;
}
.bl {
    bottom: -0.5rem;
    left: -0.5rem;
    cursor: nesw-resize;
}
.br {
    bottom: -0.5rem;
    right: -0.5rem;
    cursor: nwse-resize; 
}

.rotation-handle {
    height: 0.7rem;
    width: 0.7rem;
    border-radius: 50%;
    top: -1.5rem;
    left: 50%;
    transform: translateX(-50%);
}

.rotation-handle {
    cursor: grab;
}

.layer-tile {
    display: flex;
    background-color: #3a3a3a;
    padding: 0.7rem 1rem;
    margin-bottom: 1rem;
    border-radius: 0.2rem;
    gap: 0.5rem;
    cursor: pointer;
    transition: all ease 0.2s;
}

.layer-tile:hover {
    background-color: #514f4f;
}

.layer-tile-selected {
    background-color: #2f5289;
}
.layer-tile-selected:hover {
    background-color: #3e68ad;
}

#layer-up, #layer-down {
    background-color: #3a3a3a;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 0.2rem;
    font-size: 0.7rem;
}