.toolbar {
    height: 4rem;
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0 1rem;
    background-color: #2a2a2a;
    border-radius: 0.5rem;
    position: fixed;
    top: 3%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
}



.editor {
    height: 100%;
    width: 100%;
    display: flex;
    position: relative;
}

.editor #canvas {
    width: 80%;
    height: 100%;
    padding-top: calc(4.5rem + 3%);
}

.editor aside {
    width: 20%;
    height: 100%;
    background-color: #2a2a2a;
    padding: 2rem;
    border-radius: 0.5rem;
    border-left: 1px solid #3a3a3a;
}

.editor aside .panel {
    margin-bottom: 2rem;
}

.editor aside .panel h3 {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
}

.editor aside .panel label {
    display: block;
}