.dims {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1rem;
    font-size: 0.9rem;
}

.height, .width {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    width: 45%;
}

.props-container {
    display: flex;
    flex-direction: column;
    height: 50%;
}

.panel input {
    background-color: #1f1d1d;
    border-radius: 0.2rem;
    outline: none;
    border: none;
    color: rgb(171, 166, 166);
    padding: 0.4rem 0.3rem;
}

.panel .dims input {
    width: 60%;
}

.prop-title {
    font-size: 0.9rem;
    margin-bottom: 0.1rem;
}

.bgc-input, .text-color-input {
    display: flex; 
    gap: 0.2rem; 
    align-items: center;
}

#prop-text-color-picker, #prop-bg-picker {
    height: 2rem;
    width: 2.2rem;
    padding: 0;
}